/* {
margin: 0;
padding: 0;
font-family: Arial, sans-serif;
background-color: #f4f4f4;
box-sizing: border-box;
} */



body {
  /* ścieżka do Twojego pliku – może być względna lub absolutna */
  background-color: rgb(16, 55, 42); /* fallbackowy kolor, w razie gdy obrazek się nie załaduje */
  /*background-image: url('tloquiz.jpg');*/
  background-size: cover;        /* wypełnia cały ekran, zachowując proporcje */
  background-position: center;   /* pionowo i poziomo wycentrowane */
  background-repeat: no-repeat;  /* nie powtarza obrazka */
  background-attachment: fixed;   /* tło zostaje, gdy przewijasz stronę */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}
   


.app {
    background: #fff;
    width: 90%;
    max-width: 800px;
    margin: 10px auto 0;
    border-radius: 10px;
    padding: 30px; /* Fixed spacing issue: removed the space between '30' and 'px' */
}

.app h1{

    font-size: 20px;
    color: #eb9b9b;
    font-weight: 600;
    border-bottom: 1px solid #ad5c5c;   
    padding-bottom: 30 px;
}

.quiz { 
    padding : 20px 0; 
}

.quiz h2 {
    font-size: 18 px;
    color: #001e4d;
    font-weight: 6px;
}

.btn{

    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    padding: 10px;
    border: 1px solid #eb9b9b;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
    text-align: left;

}

.btn:hover:not([disabled]) {
    background: #eb9b9b;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.btn:disabled{
    cursor: no-drop;
}
#next-btn {
    background: #eb9b9b;
    color: #fff;
    font-weight: 600;
    border: none;
    cursor: pointer;
    width: 50%;
    padding: 10px;
    margin: 10px auto; 
    border-radius: 45px;
    display: none; /* zaczynamy ze schowanym*/
    text-align: center; 
}

#next-btn:hover {
    background: rgb(16, 55, 42);
    color: #eb9b9b;
    transition: all 0.1s ease-in-out;
}

.correct{
    background: rgb(141, 222, 135);
    animation: pulseCorrect 0.3s ease;
}
.incorrect{
    background: rgb(163, 61, 61);
    animation: shakeWrong 0.4s ease;

}

@keyframes pulseCorrect {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

@keyframes shakeWrong {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
}


.progress-container {
    background: #ddd;
    border-radius: 50px;
    height: 15px;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: #eb9b9b;
    width: 0%;
    transition: width 0.4s ease-in-out;
}